/* index.css */
body {
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/Machine_Learning_Facial_Recognition.png');
    background-size: cover;
    background-position: center;
}

.text-container {
    text-align: center;
}

.typewriter-text {
    width:100%;
    color: white;
    font-size: 5em;
    font-weight: bold;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid transparent; /* Set border color to transparent initially */
    animation: typing 4s steps(50) forwards, blink-cursor 1s infinite step-end; /* Apply typing animation and blinking cursor animation */
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 75%;
    }
}

@keyframes blink-cursor {
    50% {
        border-color: white; /* Change border color to white for half of the animation duration */
    }
}

.navigation-bar {
    margin-top:10%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

a {
    color: white !important;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.3s; /* Add a smooth transition effect on hover */
    text-decoration: underline;
    font-size: 2em;
    text-decoration: none;
}

    a:hover {
        background-color: rgba(255, 255, 255, 0.75); /* Corrected rgba value for a semi-transparent background color */
        color: #222 !important;
    }
