@{
    ViewData["Title"] = "Home Page";
}

@model ImageUploadViewModel

<div class="text-center">
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Image" class="control-label"></label>
            <input asp-for="Image" class="form-control" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Upload Image</button>
    </form>

    @if(Model.PredictionLabel != string.Empty)
    {
        <div>
            <p>Name: @Model.PredictionLabel</p>
            <p>Certainty: @Model.PredictionPercentage</p>
        </div>
    }
</div>
