@{
    ViewData["Title"] = "Home Page";
}

@section styles {
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
}

<div class="text-container blinking">
    <p class="typewriter-text">
        WE ARE WATCHING YOU
    </p>
</div>

<div class="navigation-bar">
    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Prediction">Prediction</a>
    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Trainer">Trainer</a>
</div>